__pycache__/config.cpython-310.pyc
__pycache__/serial_terminal.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
build/atcmder/Analysis-00.toc
build/atcmder/atcmder.pkg
build/atcmder/base_library.zip
build/atcmder/BUNDLE-00.toc
build/atcmder/EXE-00.toc
build/atcmder/PKG-00.toc
build/atcmder/PYZ-00.pyz
build/atcmder/PYZ-00.toc
build/atcmder/warn-atcmder.txt
build/atcmder/xref-atcmder.html
build/atcmder/localpycs/pyimod01_archive.pyc
build/atcmder/localpycs/pyimod02_importers.pyc
build/atcmder/localpycs/pyimod03_ctypes.pyc
build/atcmder/localpycs/struct.pyc
dist/.DS_Store
dist/atcmder
dist/atcmder.app/Contents/Info.plist
dist/atcmder.app/Contents/_CodeSignature/CodeResources
dist/atcmder.app/Contents/MacOS/atcmder
.DS_Store
dist/atcmder.app/Contents/Resources/app_icon.icns
resources/.atcmder_settings.cfg.swp
__pycache__/terminal_widget.cpython-310.pyc
